#selfCare {
	height: 540px;
	margin-bottom: 90px;
	margin-top: 120px;
}

#selfCare #filters {
    list-style-type: none;
    height: 30px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: -20px;
}

#selfCare #filters li {
    display: inline-block;
    font-size: 20px;
    margin: 0px 6px;
}

#selfCare #filters li.separator {
    color: #c0c0c0;
    font-weight: lighter;
}

#selfCare #filters li a {
    color: #3f3f3f;
    font-style: italic;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}

#selfCare #filters li a:hover,
#selfCare #filters li a.active {
    color: #1189d9;
}

#selfCare h3 {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-bottom: 1px solid #d7d7d7;
	font-size: 12px;
	font-weight: normal;
	font-weight: bold;
	width: 100%;
}

.user-picture {
	width: 100%;
	height: 300px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #d7d7d7;
}

.user-picture img {
	width: 100%;
}

.user-picture button {	
	margin: 5px;
	margin-top: 20px;	
}

.form-horizontal .control-label {
	text-align: left;
}